body{
	background-image: url("back.jpeg");
	height: 500px;

	background-size: cover;
}
h1{
	font-family: Castellar;
	font-size: 80px;
	color: white;
}
h3{
	color: white;
	margin-top: -50px;
	font-family: Bahnschrift Light;
}
 
 header{
	width:100%;
	overflow:hidden;
	height:90px;
	background-color: black;
	margin-top: -10px;
 }
 header nav{
	margin-top:20px;
 }
 header nav ul{
	list-style:none;
 }
 header nav ul li{
 	padding-left: 10px;
 	padding-right: 10px;
	float:left;
	overflow:hidden;
 }
 header nav ul li a{
	text-decoration:none;
	display:block;
	padding:15px 13px;
	text-transform:uppercase;
	font-size:18px;
	color:#ffffff;
	font-style:normal;
 }
  header nav ul li b{
	text-decoration:left;
	display:block;
	padding-left: 30px;
	padding-right: 400px;
	text-transform:uppercase;
	font-size:35px;
	font-family: Script MT;
	color:blue;
 }
 header nav ul li a:hover, .active{
	background:blue;
	border-radius:3px;
 }
 .full{
	 max-width:960px;
	 margin:0 auto;
	
	 
 }
 .Contact-Form{
	 width:100%;
	 margin:0 auto;
	 text-align:center;
	 margin-top:50px;
 }
 .Contact-Form h2{
	 color:#ffffff;
	 text-transform:capitalize;
	 margin-bottom:20px;
	 font-size:30px;
 }
 .Contact-Form p{
	 color:#9999B9;
	 margin-bottom:50px;
 }
 .input-fields{
	 width:45%;
	 float:left;
	 overflow:hidden;
	 margin-right:30px;
	 margin-top: 50px;
 }
 .input-fields input{
	  width:354px;
	  padding:15px 20px;
	  margin-bottom:20px;
	  border:0;
	  border-radius:3px ;
  }
 .msg{
	 width:45%;
	 overflow:hidden;
	 margin-top: 70px;
 }
 .msg textarea{
	 width:354px;
	  padding:10px 20px;
	  margin-bottom:20px;
	  height:160px;
	  border:0;
	  border-radius:3px ;
	  resize:none;
 }
 .Contact-Form button{
	 padding:15px 20px;
	 color:#ffffff;
	 text-transform:uppercase;
	 border:1px solid green;
	 background:blue;
	 cursor:pointer;
	 border-radius:3px;
	 margin-right: 40px;
     margin-top: 15px;
 }
  .Contact-Form button:hover{
	border:1px solid blue;
	background:none;
  }
 .details{
	 width: 300px;
	 height:150px;
	 color: black;
	 background:white;
	 padding:10px;
	 float:left;
	 overflow:hidden;
	 margin-right:160px;
	 margin-top:50px;
	 border-radius:3px;
	 margin-bottom:50px;
 }
 .details:last-child{
	margin-right:0;
 }
 .details h3{
 	padding-top: 60px;
	 font-size:16px;
	 color:black;
	 font-style:normal;
	 margin-left:10px;
	 margin-bottom:20px;
	 text-transform:uppercase;
	 text-align:left;
	 
 }
 .details p{
	font-size:13px;
	font-family: Arial;
	 color:black;
	 font-style:normal;
	 margin:0;
	 padding:0;
	 text-align:left;
	 text-transform:capitalize;
	 margin-left:10px;
	 margin-bottom:2px;
 }
  footer{
 	background-color: black;
 	padding-bottom: 20px;
 	padding-top: 20px;
 	margin-top: 250px;
 	color: white;
 	text-align: center

 }

